@media screen {
    /*****
    *Font Styles
    *****/
    #FudanBody h1,
    #FudanBody h2,
    #FudanBody h3,
    #FudanBody h4,
    #FudanBody h5,
    #FudanBody h6,
    #nav-mobile {
        font-family: Helvetica, sans-serif;
    }

    #FudanBody h3,
    #FudanBody h4,
    #FudanBody h5,
    #FudanBody h6,
    #nav-mobile {
        color: rgba(0, 0, 0, 0.87);
    }

    #FudanBody p,
    #FudanBody div,
    #FudanBody table,
    #FudanBody ol,
    #FudanBody ul {
        font-family: Calibri, sans-serif;
        color: rgba(0, 0, 0, 0.87);
    }

    #FudanBody .slides h3 {
        color: #F78E41;
        /* @@@@ font-size: 40px;*/
    }

    #FudanBody .slides h5 {
        color: #F78E41;
        /* @@@@ font-size: 20px;*/
    }

    #FudanBody nav ul a {
        color: #60A9C2;
    }

    #FudanBody .dropdown-content li a {
        color: #60A9C2;
    }

    #FudanBody a {
        text-decoration: none;
        outline: none;
        color: #60A9C2;
    }

    #FudanBody.orangeBg nav ul a {
        color: #F78E41;
    }

    #FudanBody.orangeBg .dropdown-content li a {
        color: #F78E41;
    }

    #FudanBody.orangeBg a {
        color: #F78E41;
    }

    #FudanBody .floatingBtn .btn {
        position: fixed;
        bottom: 40px;
        width: 50px;
        height: 50px;
        padding: 0;
        text-align: center;
        color: white;
        opacity: 0.8;
        z-index: 998;
    }

    #FudanBody .floatingBtn .btn:first-child {
        right: 100px;
        background: #FFE600;
    }

    #FudanBody .floatingBtn .btn:last-child {
        right: 40px;
        background: #60A9C2;
    }

    #FudanBody #nav-mobile li a {
        color: rgba(0, 0, 0, 0.87);
        text-align: center;
    }

    #FudanBody #nav-mobile > li > a {
        /* @@@@ font-size: 18px;*/
        font-weight: 400;
        letter-spacing: 1px;
    }

    #FudanBody #nav-mobile > li > ul a {
        /* @@@@ font-size: 14px;*/
        font-weight: 300;
    }

    #contentBanner div.col {
        color: white;
        padding: 0;
    }

    #contentBanner div.col > h1 {
        /* @@@@ font-size: 40px;*/
        text-align: center;
        font-weight: 900;
        border: none;
        color: #FFF;
    }

    #contentBanner div.col > span {
        /* @@@@ font-size: 18px;*/
        margin-right: 20%;
        text-align: justify;
        color: #FFF;
    }

    #contentBanner div.col > h1,
    #contentBanner div.col > span {
        z-index: 10;
    }

    #figureBannerTitle h1,
    #figureBannerTitle span {
        color: #fff;
    }

    #figureBannerTitle h1 {
        border: none;
        /* @@@@ font-size: 80px;*/
        /* @@@@ line-height: 100px;*/
        font-weight: 900;
        margin-bottom: 10%;
    }

    #figureBannerTitle span {
        font-size: 2rem;
        line-height: 3rem;
    }

    @media only screen and (max-width: 991px) {
        #figureBannerTitle h1 {
            /* @@@@ font-size: 40px;*/
            font-weight: 900;
            /*line-height: 60px;*/
            margin-bottom: 4%;
        }

        #figureBannerTitle span {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    #contentBanner div.col:first-child {
        height: 40%;
        vertical-align: bottom;
        padding: 10% 10% 0 10%;
    }

    #contentBanner div.col:last-child {
        height: 60%;
        vertical-align: top;
        padding: 5% 10%;
    }

    #pageContent .section:first-child h2 {
        margin: 40px 0 30px 0;
    }

    #pageContent h2 {
        color: #60A9C2;
        /* @@@@ font-size: 36px;*/
        margin: 30px 0 40px 0;
        text-align: center;
    }

    #FudanBody.orangeBg #pageContent h2 {
        color: #F78E41;
    }

    #pageContent h3 {
        /*font-size: 28px;*/
        margin: 50px 0 10px 0;
    }

    #pageContent .section > h3:before {
        content: "▪ ";
    }

    #pageContent #FudanFooter h3:before {
        content: normal;
    }

    #pageContent h4 {
        /* @@@@ font-size: 24px;*/
        margin: 50px 0 0 10px;
    }

    #pageContent p,
    #pageContent .section ul {
        /*font-size: 18px;*/
        margin: 23px 0 0 0;
        /* @@@@ line-height: 35px;*/
    }

    /* @@@@ #pageContent .section div {
        font-size: 18px;
        line-height: 35px;
    }*/

    #pageContent p {
        text-align: justify;
        text-indent: 30px;
    }
#FudanBody #contentBanner p {
        text-indent: 0;
    }

    #pageContent #FudanFooter h3 {
        margin: 10px 0 10px 0;
    }

    #acknowledgementPhoto span {
        position: absolute;
        bottom: 5%;
        z-index: 10;
        display: none;
        color: #fff;
        background: rgba(0, 0, 0, 0.87);
        /* @@@@ font-size: 20px;*/
        /* @@@@ line-height: 24px;*/
    }

#FudanFooter #usefulLinks {
    color: #cacaca;
    padding-left: 1rem;
}

#FudanFooter #usefulLinks ul {
    font-size: 13px;
    line-height: 14px;
    border-top: solid 2px;
    color: inherit;
    text-decoration: none;
    padding-top: 5px;
}

#FudanFooter #usefulLinks div {
    color: #cacaca;
}

#FudanFooter #usefulLinks div:hover {
    color: white;
}

#FudanFooter #usefulLinks a {
    color: inherit;
}

#FudanFooter #usefulLinks a:hover {
    text-decoration: underline;
}

#FudanFooter #usefulLinks div.active,
#FudanFooter #usefulLinks div.active a {
    color: white;
}

#FudanFooter #usefulLinks div.active ul {
    border-top: solid white 2px;
}

#FudanFooter #usefulLinks li {
    padding: 3px 0 6px 3px;
}

#usefulLinks span {
    font-size: 20px;
}

#usefulLinks > div > div {
    padding-left: 1.2rem;
}

#FudanFooter div.footer-copyright {
    font-size: 13px;
    line-height: 15px;
}

    #FudanBody .tableHolder caption {
        /* @@@@ font-size: 18px;*/
        margin-bottom: 2px;
    }

    /* @@@@ #FudanBody #pageContent .tableHolder {
        /*font-size: 15px;
        line-height: 25px;
    }*/

    #pageContent .section ul li {
        list-style-type: disc;
        margin: 0 0 0 16px;
        /*font-size: 18px;*/
        text-align: justify;
    }

    #pageContent .section ul {
        /*font-size: 18px;*/
        margin-top: 23px;
    }

 /* 2019-9-16 ht @media only screen and (max-width: 600px) {
        #pageContent h2 {
            font-size: 26px;
            margin: 20px 0 30px 0;
        }

        #pageContent h3 {
            font-size: 20px;
            margin: 30px 0 5px 0;
        }

        #pageContent h4 {
            font-size: 17px;
            margin: 17px 0 0 10px;
        }

        #pageContent p,
        #pageContent .section ul {
            font-size: 16px;
            margin: 20px 0 0 0;
            line-height: 25px;
        }

        #pageContent .section div {
            font-size: 16px;
            line-height: 25px;
        }

        #pageContent .section ul li {
            font-size: 16px;
        }

        #pageContent .section ul {
            font-size: 16px;
            margin-top: 20px;
        }
    }*/

    #FudanBody .nameCard h3 {
        margin-top: 0;
    }

    #bodyContent #FudanBody a[href^="https://"] {
        padding-right: 0;
    }

    #pageContent h2 > a {
        text-decoration: underline;
    }

    #FudanBody ol#ref li {
        /*font-size: 14px;*/
        /* @@@@ line-height: 20px;*/
        margin-top: 15px;
        list-style-type: none;
    }

    #FudanBody ol#ref {
        list-style-type: none;
       /* counter-reset: sectioncounter; */
    }

/*    #FudanBody ol#ref li:before {
        content: "[" counter(sectioncounter) "] ";
        counter-increment: sectioncounter;
    }*/
    #FudanBody .expFigureHolder p{
        font-size: 0.9rem;
        line-height: 1.5rem;
        text-indent: 0;
        margin-top: 0;
    }
    #FudanBody #pageContent .expFigureHolder{
        background: rgba(96, 169, 194, 0.3);
        padding: 2%;
        margin-top: 23px;
    }







    /*****
    *Structure Styles
    *****/
    #FudanBody img {
        background: rgba(0, 0, 0, 0);
    }
/*
    #FudanBody .section img[src$=".svg"] {
        background: #fff;
    }
*/
    #content {
        z-index: auto; /* #slide-out is not on the top of all elements when using default z-index number(2) */
    }

    div {
        box-sizing: content-box; /* Solve the conflict between Materialize(inherit) and igem.org default setting */
    }

    #FudanBody div {
        box-sizing: border-box;
    }

    #top_menu_14 {
        z-index: 996;
    }

    #globalWrapper { /* Solve the overflow of login */
        overflow: hidden;
        padding: 0;
    }

    #FudanWrapper {
        position: relative;
        width: 100%;
    }

    #FudanBody {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    #FudanBody ul {
        margin: 0;
        line-height: inherit;
    }

    #FudanBody img {
        vertical-align: inherit;
    }

    #FudanBody .fa {
        height: inherit;
        line-height: inherit;
        /*font-size: inherit;*/
    }

    #FudanBody .container {
        width: 90%;
    }

    @media only screen and (max-width: 600px) {
        #emptyBar {
            height: 6px; // 2018igem 56
        }
    }
    @media only screen and (min-width: 601px) {
        #emptyBar {
            height: 10px; // 2018igem 75
        }
    }
    #topNav {
        position: fixed;
        z-index: 995;
        top: 18px;
    }

    /*@media only screen and (min-width: 992px) {
        #FudanBody.orangeBg #nav-mobile {
            border-top: solid 13px #F78E41;
        }

        #FudanBody #nav-mobile {
            border-top: solid 13px #60A9C2;
            margin-right: 20px;
        }
    }*/
    #nav-mobile > li > a {
        cursor: default;
        width: 135px;
    }

    #FudanBody #nav-mobile > li:last-child > a {
        width: 50px;
        color: #888;
    }

    #nav-mobile li ul {
        top: 1px;
    }

    /* @@@@ @media only screen and (min-width: 600px) {
        #nav-mobile li:last-child {
            line-height: 75px;
        }
    }*/
    #teamLogo {
        padding: 0 40px 0 40px;
    }

    #teamLogo img {
        height: 100%;
    }

    #teamLogo {
        margin: 5px 0;
        height: 46px;
    }
    /* LC 2019-9-17 @media only screen and (min-width: 601px) {
        #teamLogo {
            margin: 5px 0;
            height: 65px;
        }
    }*/

    #navList {
        line-height: inherit;
    }

    #navList.sidenav-trigger {
        margin: 0 10px;
    }

    #FudanBody .slider .indicators {
        bottom: 60px;
        z-index: 100;
    }

    #homepageDivider {
        width: 100%;
        height: 20px;
        position: relative;
        top: -40px;
    }

    #homepageContent {
        position: relative;
        top: -20px;
    }

    #contentBanner {
        position: relative;
        min-height: 300px;
        background: #60A9C2;
        width: 100%;
    }

    #FudanBody.orangeBg #contentBanner,
    #FudanBody.orangeBg #slide-out .background {
        background-color: #F78E41;
    }

    #contentBanner div.row {
        height: 100%;
    }

    #contentBanner #figureBannerTitle {
        position: absolute;
        left: 4%;
        bottom: 15%;
        right: 37%;
        background: rgba(0, 0, 0, 0);
        z-index: 10;
        padding: 3%;
    }
    #contentBanner .hide-on-small-only{
        background: #000;
    }
    @media only screen and (min-width: 601px) {
        #contentBanner.figureBanner {
            min-height: 0;
            background: rgba(0, 0, 0, 0);
        }

        #contentBanner.figureBanner > div:last-child {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            overflow: hidden;
            z-index: 9;
        }

        #contentBanner.figureBanner > div:last-child img {
            width: 100%;
        }

        #contentBanner div.col {
            height: 100%;
        }
    }

    #FudanFooter .contactUS {
        display: block;
    }

    #FudanFooter .contactUS > div {
        margin: 5px 0;
        color: rgba(255, 255, 255, 0.8);
    }

    #pageContentNav,
    #FudanBody .sidenav {
        overflow-y: auto;
    }

    #FudanBody .sidenav {
        height: auto;
        bottom: 0;
    }

    ul#pageContentNav {
        background-color: #fff;
        border: 0;
        position: fixed;
        width: 190px;
        right: 10%;
    }

    #pageContentNav li,
    #FudanBody .sidenav li {
        float: none;
        /* @@@@ line-height: 34px;*/
        /* @@@@ font-size: 18px;*/
        padding: 0 10px;
        color: #60A9C2;
    }

    #FudanBody.orangeBg #pageContentNav li,
    #FudanBody.orangeBg .sidenav li {
        color: #F78E41;
    }

    #FudanBody .sidenav .collapsible-header,
    #FudanBody .sidenav .collapsible-body,
    #FudanBody .sidenav .collapsible-body li a {
        height: auto;
        /* @@@@ line-height: 28px;*/
    }

    #FudanBody .sidenav li.active .collapsible-header {
        background: #FFE600;
    }

    #FudanBody #pageContent li.onThisPageNav>a,
    #FudanBody.orangeBg #pageContent li.onThisPageNav>a,
    #FudanBody .sidenav li.onThisPageNav>a,
    #FudanBody.orangeBg .sidenav li.onThisPageNav>a {
        /* @@@@ font-size: 15px;*/
        padding: 0 10px;
        /* @@@@ line-height: 24px;*/
        color: rgba(0, 0, 0, 0.87);
        height: auto;
    }

    #FudanBody #nav-mobile li > a.thisPageLink,
    #pageContentNav li > a.thisPageLink,
    #FudanBody .sidenav li > a.thisPageLink {
        background-color: #FFE600;
    }

    #pageContentNav li.onThisPageNav.active,
    #FudanBody .sidenav li.onThisPageNav.active {
        background-color: rgba(96, 169, 194, 0.05);
    }

    #pageContentNav li > a,
    #FudanBody .sidenav li > a {
        color: #60A9C2;
        display: block;
        /* @@@@ font-size: 18px;*/
        /* @@@@ line-height: 30px;*/
    }

    #FudanBody.orangeBg #pageContentNav li > a,
    #FudanBody.orangeBg .sidenav li > a {
        color: #F78E41;
    }

    #pageContentNav li.onThisPageNav>a:hover,
    #FudanBody .sidenav li.onThisPageNav>a:hover {
        background-color: rgba(96, 169, 194, 0.05);
        border-left: solid #60A9C2 2px;
        transition-duration: 0ms;
    }

    #FudanBody.orangeBg #pageContentNav li.onThisPageNav>a:hover,
    #FudanBody.orangeBg .sidenav li.onThisPageNav>a:hover {
        background-color: rgba(247, 142, 65, 0.05);
        border-left: solid #F78E41 2px;
    }

    #pageContentNav li.onThisPageNav>a.active,
    #FudanBody .sidenav li.onThisPageNav>a.active {
        border-left: solid #60A9C2 4px;
        background-color: rgba(96, 169, 194, 0.05);
    }

    #FudanBody.orangeBg #pageContentNav li.onThisPageNav>a.active,
    #FudanBody.orangeBg .sidenav li.onThisPageNav>a.active {
        border-left: solid #F78E41 4px;
        background-color: rgba(247, 142, 65, 0.05);
    }

    @media only screen and (min-width: 992px) {
        #pageContent main {
            margin: 0 270px 0 0;
        }
    }
    #pageContent {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    #FudanBody main {
        flex: 1 0 auto;
    }

    #FudanBody .sidenavBanner {
        position: relative;
        padding: 32px 32px 0;
        margin-bottom: 8px;
    }

    #FudanBody .sidenavBanner > a {
        height: auto;
        padding: 0;
        display: block;
        /* @@@@ line-height: 48px;*/
    }

    #FudanBody .sidenavBanner .background {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    #slide-out {
        overflow-y: scroll;
    }

    #slide-out .background {
        background: #60A9C2;
    }

    #FudanBody.orangeBg #slide-out .background {
        background: #F78E41;
    }

    #figDescription {
        position: fixed;
        top: 64px;
        width: 100%;
        height: 600px;
        z-index: 900;
        display: none;
        background: white;
    }

    #figDescription .card {
        position: fixed;
        top: 450px;
        left: 50px;
        width: 30%;
        border-radius: 10px;
        overflow: hidden;
        opacity: 0.95;
    }

    #FudanBody .section {
        margin-top: 70px;
    }

    #FudanBody .section:last-child {
        margin-bottom: 150px;
    }

    #FudanBody #abstractContent {
        width: 300px;
        height: 300px;
        position: fixed;
        background: #fff;
        left: 50%;
        top: 50%;
        margin: -150px 0 0 -150px;
        overflow-y: scroll;
        border-radius: 10px;
        padding: 30px 0 20px 0;
        display: none;
        z-index: 998;
    }

    #FudanBody #abstractContent > a {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    @media only screen and (min-width: 601px) and (min-height: 501px) {
        #FudanBody #abstractContent {
            width: 700px;
            height: 500px;
            margin: -250px 0 0 -350px;
        }

        #FudanBody #abstractContent > a {
            /* @@@@ font-size: 40px;*/
            /* @@@@ line-height: 40px;*/
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
    #acknowledgementPhoto {
        width: 100%;
        position: relative;
    }

    #acknowledgementPhoto > div {
        width: 100%;
        position: relative;
        vertical-align: top;
    }

    #acknowledgementPhoto div.row > div {
        position: relative;
        padding: 0 10px;
        margin: 10px 0;
        overflow: hidden;
        text-align: center;
        bottom: 0;
    }

    #acknowledgementPhoto img {
        width: 100%;
    }

    #FudanBody .z-depth-0_5 {
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 -1px rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.22);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 -1px rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.22);
    }

    #FudanFooter img {
        margin: 5px 0;
    }

    #FudanFooter div.row {
        margin: 5px 0;
        padding: 0;
    }

    #FudanFooter div.row > img {
        padding: 0 2%;
    }

    #FudanFooter #sponsor {
        margin-top: 35px;
    }

    #pageContent p > img {
        width: 100%;
        margin: 0;
    }

    @media only screen and (min-width: 601px) {
        #pageContent .left-on-med-and-up {
            float: left;
            margin: 1% 3% 1% 0;
        }

        #pageContent .right-on-med-and-up {
            float: right;
            margin: 1% 0 1% 3%;
        }

        #pageContent .width20 {
            width: 20%;
        }

        #pageContent .width30 {
            width: 30%;
        }

        #pageContent .width40 {
            width: 40%;
        }

        #pageContent .width45 {
            width: 45%;
        }
        #pageContent .width50 {
            width: 50%;
        }
        #pageContent .width60 {
            width: 60%;
        }
        #pageContent .width70 {
            width: 70%;
        }
        #pageContent .width80 {
            width: 80%;
        }
    }
    #pageContent .section .row {
        margin: 25px 0 0 0;
    }

    #FudanBody .FudanGallery {
        position: relative;
        width: 70%;
    }

    #FudanBody .FudanGallery > .galleryActive {
        width: 100%;
    }

    #FudanBody .FudanGallery > .galleryActive img {
        width: 100%;
    }

    #FudanBody .FudanGallery > .galleryThumbnail {
        position: relative;
        width: 100%;
        margin: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    #FudanBody .FudanGallery > .galleryThumbnail::-webkit-scrollbar {
        display: none;
    }

    #FudanBody .FudanGallery > .galleryThumbnail img {
        width: 15%;
        display: inline-block;
        opacity: 0.7;
        cursor: pointer;
    }

    @media only screen and (max-width: 991px) {
        #FudanBody .FudanGallery > .galleryThumbnail img {
            width: 22%;
        }
    }
    #FudanBody .FudanGallery > .galleryBtnLeft,
    #FudanBody .FudanGallery > .galleryBtnRight {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        /*font-size: 30px;*/
        /* @@@@ line-height: 35px;*/
        text-align: center;
        bottom: 3%;
        cursor: pointer;
    }

    #FudanBody .FudanGallery > .galleryBtnLeft {
        left: 2%;
    }

    #FudanBody .FudanGallery > .galleryBtnRight {
        right: 2%;
    }

    #FudanBody .tableHolder {
        width: 100%;
        margin: 20px 0 30px 0;
    }

    @media only screen and (max-width: 991px) {
        #FudanBody .tableHolder {
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
    #FudanBody .tableHolder td,
    #FudanBody .tableHolder th {
        padding: 0 10px;
    }

    #FudanBody .tableHolder th {
        text-align: left;
    }

    #FudanBody .figureHolder {
        margin: 20px auto 30px auto;
    }

    #FudanBody #pageContent .nameCard {
        margin-top: 80px;
        overflow: hidden;
    }

    @media only screen and (min-width: 991px) {
        #FudanBody #pageContent .nameCard {
            max-height: 300px;
        }
    }
    #FudanBody #pageContent .nameCard h3,
    #FudanBody #pageContent .nameCard p,
    #FudanBody #pageContent .nameCard {
    }

    #FudanBody #pageContent .nameCard img {
        width: 100%;
    }

}

li.onThisPageNav>span,
li.onThisPageNav>a,
ul#pageContentNav li>a,
div.collapsible-body ul li>a,
div.collapsible-header>span { font-size: 1.3rem; line-height: 2.2rem; }


@media print {
    /*****
    *print media
    *****/

    #FudanWrapper{page-break-inside: auto}
    #FudanBody header{display: none}
    #FudanBody img{width:100%;display: none}
    #FudanBody .figureHolder img{display: inherit}
    #contentBanner>div:first-child{display: none}
    #contentBanner>div:last-child{display: none}
    #pageContentNav{display: none}
    #FudanFooter{display: none}
    #pageContent{margin: 2cm}
    #pageContent div{width: 100%}
    #pageContent main{margin: 0}
    #top_menu_14{display: none}
    #emptyBar{display: none}
    #FudanBody .floatingBtn{display: none}
    #abstractContent{display: none}

    /*****
    *Font Styles
    *****/
    #FudanBody h1,
    #FudanBody h2,
    #FudanBody h3,
    #FudanBody h4,
    #FudanBody h5,
    #FudanBody h6,
    #FudanBody p,
    #FudanBody div,
    #FudanBody table,
    #FudanBody ol,
    #FudanBody ul,
    #FudanBody a,
    #FudanBody span{
        font-family: "Times New Roman",serif;
        color: rgb(0,0,0);
    }
    #FudanBody h1{
        font-size: 60px;
        line-height: 80px;
        font-weight: 900;
        page-break-after: always;
    }
    #FudanBody h2{
        font-size: 30px;
        line-height: 40px;
        margin: 30px 0 40px 0;
    }
    #FudanBody h3{
        font-size: 24px;
        line-height: 30px;
        margin: 50px 0 10px 0;
    }
    #FudanBody h4{
        font-size: 20px;
        line-height: 30px;
        margin: 50px 0 0 10px;
    }
    #pageContent p,
    #pageContent .section ul{
        font-size: 15px;
        margin: 23px 0 0 0;
        line-height: 25px;
    }
    #pageContent .section div{
        font-size: 15px;
        line-height: 25px;
    }
    #pageContent p{
        text-align: justify;
        text-indent: 30px;
    }
    #FudanBody ol#ref li {
        font-size: 14px;
        line-height: 20px;
        margin-top: 15px;
    }

    #FudanBody ol#ref {
        list-style-type: none;
        counter-reset: sectioncounter;
    }

    #FudanBody ol#ref li:before {
        content: "[" counter(sectioncounter) "] ";
        counter-increment: sectioncounter;
    }
}